.widget {
  margin: 1rem auto;
  width: 90%;
}

.question_item {
  border: none;
  box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  width: 82%;
  margin: 0.6em;
  padding: 0.6em 0;
  padding-bottom: 0.5em;
  font-size: large;
}

.question_item_content {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question_item_content_radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
}
label {
  margin-left: 0.7rem;
}
.question_items {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

button {
  width: 70px;
  align-self: end;
  margin-right: 3rem;
}
